<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- CSS -->
    

</head>

<body  style="background: url(/public/img/1.jpg) center center no-repeat;"">

    <!-- Content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1 style="font-family: 'Microsoft Yahei';font-size: 60px;"><strong>校园预约答疑系统</strong></h1>
                        <div class="description">
                            <p style="font-family: 'Microsoft Yahei';font-size: 30px;">
                                （教师版）
                            </p>

                            <p style="font-family: 'Microsoft Yahei';font-size: 24px;" >
                                <br>&nbsp;<a class="launch-modal" href="#" data-modal-id="register" style="font-family: 'Microsoft Yahei';color:#FB4747;">注册</a>&nbsp; &nbsp;<a class="launch-modal" href="#" data-modal-id="modal-register" style="font-family: 'Microsoft Yahei';color:#FB4747;">登陆</a>&nbsp;<br><a class="launch-modal" href="#" data-modal-id="forget" style="font-family: 'Microsoft Yahei';color:#FB4747;">忘记密码</a>
                            </p>
                        </div>
                        <div class="top-big-link">
                           <a class="btn btn-link-1 launch-modal" href="#"  data-modal-id="choose" style="background-color: #8A76E7 "  >发布答疑</a>
                       </div>

                       <div class="top-big-link">
                           <a  class="btn btn-link-1 launch-modal" href="#" data-modal-id="download" style="background-color: #3257BC">资料上传</a>
                       </div>
                       <div class="top-big-link">
                           <a  class="btn btn-link-1 launch-modal" href="#" data-modal-id="beiyue" style="background-color: #DF5553">查看被约</a>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->


<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
           </button>
           <p class="modal-title" id="register-label" style="font-size: 40px;text-align: center;font-family: 'Microsoft Yahei';">|用户注册|</p>
       </div>
       
       <div class="modal-body">
        
           <form role="form" action="tregist" method="post" class="registration-form">
              <div class="form-group">
                 <label class="sr-only" for="form-first-name">id</label>
                 <input type="text" name="id" placeholder="教工号" class="form-first-name form-control" id="form-first-name">
             </div>
             <div class="form-group">
                 <label class="sr-only" for="form-first-name">name</label>
                 <input type="text" name="name" placeholder="姓名" class="form-first-name form-control" id="form-first-name">
             </div>
             <div class="form-group">
                 <label class="sr-only" for="form-first-name">tel</label>
                 <input type="text" name="tel" placeholder="电话" class="form-first-name form-control" id="form-first-name">
             </div>
             <div class="form-group">
              <label class="sr-only" for="form-last-name">place</label>
              <input type="text" name="place" placeholder="办公室" class="form-last-name form-control" id="form-last-name">
            </div>
             <div class="form-group">
              <label class="sr-only" for="form-last-name">password</label>
              <input type="text" name="password" placeholder="密码" class="form-last-name form-control" id="form-last-name">
            </div>

          <button type="submit" class="btn" style="font-family: 'Microsoft Yahei';font-size: 20px;">注&nbsp;册</button>
      </form>

  </div>

</div>
</div>
</div>





<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
           </button>
           <p class="modal-title" id="modal-register-label" style="font-size: 40px;text-align: center;font-family: 'Microsoft Yahei';">|用户登录|</p>
       </div>

       <div class="modal-body">

           <form role="form" action="tlogin" method="post" class="registration-form">
              <div class="form-group">
                 <label class="sr-only" for="form-first-name">id</label>
                 <input type="text" name="id" placeholder="教工号" class="form-first-name form-control" id="form-first-name">
             </div>
             <div class="form-group">
              <label class="sr-only" for="form-last-name">password</label>
              <input type="text" name="password" placeholder="密码" class="form-last-name form-control" id="form-last-name">
          </div>
          <button type="submit" class="btn" style="font-family: 'Microsoft Yahei';font-size: 20px;">登&nbsp;录</button>
      </form>

  </div>

</div>
</div>
</div>




<div class="modal fade" id="choose" tabindex="-1" role="dialog" aria-labelledby="choose-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
           </button>
           <p class="modal-title" id="choose-label" style="font-size: 40px;text-align: center;font-family: 'Microsoft Yahei';">|发布答疑|</p>
       </div>

       <div class="modal-body">
            <P style="font-size: 20px;text-align: center;font-family: 'Microsoft Yahei';">请登录后在使用此功能！</P>

      </div>

</div>
</div>
</div>




<div class="modal fade" id="download" tabindex="-1" role="dialog" aria-labelledby="download-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <p class="modal-title" id="download-label" style="font-size: 40px;font-family: 'Microsoft Yahei';text-align: center;">|上传资料|</p>
            </div>

            <div class="modal-body">

                <P style="font-size: 20px;text-align: center;font-family: 'Microsoft Yahei';">请登录后在使用此功能！</P>
            </div>

    </div>

</div>
</div>

<div class="modal fade" id="beiyue" tabindex="-1" role="dialog" aria-labelledby="beiyue-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
           </button>
           <p class="modal-title" id="beiyue-label" style="font-size: 40px;text-align: center;font-family: 'Microsoft Yahei';">|查看被约|</p>
       </div>

       <div class="modal-body">
            <P style="font-size: 20px;text-align: center;font-family: 'Microsoft Yahei';">请登录后在使用此功能！</P>

      </div>

</div>
</div>
</div>



<div class="modal fade" id="forget" tabindex="-1" role="dialog" aria-labelledby="forget-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">

         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
           </button>
           <p class="modal-title" id="forget-label" style="font-size: 40px;text-align: center;font-family: 'Microsoft Yahei';">|找回密码|</p>
       </div>

       <div class="modal-body">

           <form role="form" action="forget" method="post" class="registration-form">
              <div class="form-group">
                 <label class="sr-only" for="form-first-name">tel</label>
                 <input type="text" name="tel" placeholder="电话" class="form-first-name form-control" id="form-first-name">
             </div>
             <div class="form-group">
                 <label class="sr-only" for="form-first-name">tel</label>
                 <input type="text" name="password" placeholder="新密码" class="form-first-name form-control" id="form-first-name">
             </div>
          <button type="submit" class="btn" style="font-family: 'Microsoft Yahei';font-size: 20px;">找&nbsp;回</button>
      </form>

  </div>

</div>
</div>
</div>




<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/form-elements.css">
<link rel="stylesheet" href="/public/css/style.css">
<link rel="stylesheet" href="/public/css/download.css">
<link rel="shortcut icon" href="/public/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/public/ico/apple-touch-icon-57-precomposed.png">
<!-- Javascript -->
<script src="/public/js/jquery-1.11.1.min.js"></script>
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.backstretch.min.js"></script>
<script src="/public/js/scripts.js"></script>

<script type="text/javascript">
</script>


</body>

</html>